@import "../utils/parameters";
@import "../utils/mixins";

.footer {

    margin: 15.4rem 0 10rem;

    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }


    &__text {
        font-size: 1.6rem;
        line-height: 140%;
        font-weight: 400;
        color: $c-text;

        
    }
}

.link-footer {
    font-size: 1.6rem;
    line-height: 140%;
    font-weight: 400;
    color: $c-text;

    margin-right: 2.4rem;
}

.socials {

    margin-right: 15rem;
    
    &__icon {
        margin-right: 2.8rem;
    }
}

@media screen and (max-width: $md) {
    .footer {

        margin: 2.4rem 0 6rem;

        &__row {
            padding: 0 2.4rem;
        }
    }
}

@media screen and (max-width: $sm) {

}

@media screen and (max-width: $xs) {

    .footer {
        margin: 0px 0 3rem;

        &__row {
            padding: 0 3.4rem;
            justify-content: space-evenly;
        }

        &__links {
            padding: 0 0 1rem;
        }
    }

    .socials {
        margin: unset;

        &__icon {
            margin: unset;
        }
    }
}