// для каждого компонента нужно импортить переменные, чтобы их использовать
@import "../utils/parameters";
@import "../utils/mixins";

.header {

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 3rem;
    }

    &__registration {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 5rem;
    }
    
}

.link-header {
    &__img {
        margin-right: 0.8rem;
    }
}
.link-header {
    font-size: 1.6rem;
    line-height: 140%;
    text-transform: uppercase;
    color: $c-text;

    &--color {

        color: $c-text2;
        margin-left: 4.8rem;

    
    }




    &--bg {
        background-color: $c-secondary;
        border: 1px solid rgba(0,0,0,0.0);
        border-radius: 8px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        padding: 1.2rem 1.6rem;
        margin-left: 4rem;
    }
}
