@import "../utils/parameters";
@import "../utils/mixins";


.introducing {
    background: linear-gradient(180deg, #E4DDFF 0%, rgba(255, 255, 255, 0) 100%);
    position: relative;
    
    &__content {

        max-width: 85rem;
        margin: 11rem auto 0;
    }

    &__title {
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 110%;
        text-align: center;
        letter-spacing: 1px;
        color: $c-text;

        &::after {
            content: url("../imgs/line3.svg");
            position: absolute;
            top: 17.5rem;
            right: 36rem;

        }
    }

    &__text {
        font-size: 1.8rem;
        line-height: 140%;
        text-align: center;
        color: $c-text;

        max-width: 61.4rem;
        margin: 7rem auto 9.4rem;
    }

    &__img-wrap {

        max-width: 88rem;
        margin: 0 auto 6.66rem;

    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 24rem;
    }
}

.item {

    width: 33.3333%;
    padding: 0 3rem;
    
    &__img {
        margin: 0 auto;
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 130%;
        text-align: center;
        color: $c-text;

        margin: 2.3rem 0 1.3rem;
    }

    &__description {
        font-size: 1.6rem;
        line-height: 140%;
        text-align: center;
        color: $c-text2;

        max-width: 26.7rem;
        margin: 0 auto;
    }
}

@media screen and (max-width: $md) {

    .introducing {
        &__row {
            
            margin: 0 0 12rem;
            
        }

        &__title {

            &::after {
                right: 19rem;
            }
        }

        &__img-wrap {
            max-width: unset;
        }

        &__img {
            max-width: 84vw;
            display: block;
            margin: 0 auto;
           
        }
    }
}

@media screen and (max-width: $sm) {

    .introducing {

        &__content {
            margin: 6rem auto 0;
        }
        &__title {
            font-size: 3.4rem;

            &::after {
                top: 11.5rem;
            }
        }

        &__text {
            margin: 9rem auto 5.4rem;
        }

        &__img-wrap {
            max-width: unset;
        }

        &__img {
            max-width: 84vw;
            display: block;
            margin: 0 auto;
           
        }

        &__row {
            margin: 0px 0 2rem;
        }
                
    }

    .item {
        width: 50%;
        margin: 0 auto 4rem;
        padding: 0 6rem;
    }
}

@media screen and (max-width: $xs) {

    .introducing {

        &__content {
            margin: 2rem auto 0;
        }

        &__title {
            font-size: 2.4rem;

            &::after {
                content: none;
            }
        }

        &__text {
            font-size: 1.6rem;    
            max-width: unset; 
            padding: 0px 2rem 0;
            margin: 3rem auto 2rem;
        }

        &__img-wrap {
            display: none;
        }

    }

    .item {
        width: 100%;
        text-align: center;
        margin: 0 auto 2rem;
        padding: 0 3rem;

        &__title {
            font-size: 2rem;
        }

        &__description {
            margin: 0 auto;
            max-width: unset;
            padding: 0 1rem 0;
        }
    }

    
}
