@import "../utils/parameters";
@import "../utils/mixins";

.see-what {

    background: linear-gradient(180deg, #FFF7E0 0%, #FFFFFF 100%);
       
    
    &__content {
        display: flex;
        flex-direction: column;
            
        max-width: 50.7rem;
        margin: 24.3rem auto 0;
       
    }

    &__title {
        font-size: 4.8rem;
        line-height: 110%;
        font-weight: 700;
        letter-spacing: 1px;
        color: $c-text;

        
        text-align: center;
        margin-bottom: 1rem;

    }

    &__text {
        font-size: 1.8rem;
        line-height: 140%;
        font-weight: 400;
        color: $c-text;

        
        text-align: center;
        margin-bottom: 8.6rem;
    }

    &__example-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 14rem;
    }
    
}

.example {

    max-width: 50%;
    padding-bottom: 10.4rem;
    flex: 1 0 50%;
    text-align: center;

    &__img {
        margin-bottom: 1.3rem;
    }

    &__title {
        font-size: 2.2rem;
        line-height: 130%;
        font-weight: 400;
        color: $c-text;
        margin-bottom: 1.1rem;
        text-align: center; 

           
            
    }


    &__author {
        margin-bottom: 1.6rem;
        text-align: center;
    }
    
    &__text {
        margin-bottom: 2rem;
        text-align: center;
        padding: 0 6rem;
    }

    &__author,
    &__text,
    &__start,
    &__date,
    &__btn {
        font-size: 1.6rem;
        line-height: 140%;        
        color: $c-text2;
    }

    &__registration {

    }

    &__start {
        color: #98A3B6;
        margin-right: 0.8rem;
    }

    &__date {
        color: #000;
        margin-right: 2.4rem;
    }

    &__btn {
        color: $c-text;
        text-transform: uppercase;

        background: #FFEDC2;
        border-radius: 0.8rem;
        padding: 1.6rem 3.4rem;

        &:hover,
        &:active,
        &:focus {
            color: $c-primary;
            outline: none;
            text-decoration: none;
    }

    }
}

@media screen and (max-width: $md) {
    .see-what {
        &__content {
            margin: 15.3rem auto 0;
        }

        &__example-wrap {
            margin-bottom: 4rem;
        }
    }

    .example {
        &__img {
            max-width: 42vw;
        }
    }
}

@media screen and (max-width: $sm) {

    .see-what {
        &__content {
            margin: 5.3rem auto 0;
        }

        &__title {
            font-size: 3.4rem;
        }

        &__text {
            margin-bottom: 5rem;
        }
    }

    .example {
        max-width: 100%;
        flex: 1 0 100%;
        padding-bottom: 5rem;

        &__title {
            padding: 0px 10rem;
        }

        &__text {
            padding: 0px 11rem;
        }
    }
}

@media screen and (max-width: $xs) {

    .see-what {
        &__title {
            font-size: 2.4rem;
            padding: 0 2rem 0;
        }
    }

}





