@import "../utils/parameters";
@import "../utils/mixins";

.what-can-do {

    background: linear-gradient(180deg, #FDE6E6 0%, #FFFFFF 100%);
      

    &__content {
        max-width: 90.7rem;
        margin: 10.8rem auto 0;
    }

    &__title {
        font-weight: 700;
        font-size: 4.8rem;
        line-height: 110%;
        text-align: center;
        letter-spacing: 1px;
        color: $c-text;
        margin: 0 0 3.4rem;
    }

    &__text {
        font-size: 1.8rem;
        line-height: 140%;
        text-align: center;
        color: $c-text;

        max-width: 58.8rem;
        margin: 0 auto 10.4rem;
    }
    
    &__row {
        display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    &__link {
        font-size: 1.6rem;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        color: $c-text;

        background: #FFF2CD;
        border-radius: 0.8rem;
        padding: 1.6rem 3.2rem 1.6rem 3.2rem;
        display: block;
        max-width: 20.8rem;
        margin: 0 auto 28.7rem;
    }
}

.feature {

    width: 33.3333%;
    padding: 0 4rem;
    margin: 0 0 12.8rem;

    &__img {
        margin: 0 auto;
    }

    &__title {
        font-size: 2.2rem;
        line-height: 130%;
        text-align: center;
        color: $c-text;

        margin: 2.4rem 0 1.2rem;
    }

    &__description {
        font-size: 1.6rem;
        line-height: 140%;
        text-align: center;
        color: $c-text2;

        max-width: 26.6rem;
        margin: 0 auto;
    }
}

@media screen and (max-width: $md) {

    .what-can-do {
        &__link {
            margin: 0 auto 12.7rem;
        }
    }

    .feature {
        padding: 0 2rem;

        &__img {
            max-width: 28vw;
        }
    }

}

@media screen and (max-width: $sm) {
    .what-can-do {

        &__content {
            margin: 5.8rem auto 0;
        }
        &__title {
            font-size: 3.4rem;
        }

        &__text {
            margin: 0 auto 5.4rem;
        }

        &__link {
            margin: 0 auto 4rem;
        }
    }

    .feature {
        width: 50%;
        margin: 0 auto 4rem;
    }
}

@media screen and (max-width: $xs) {

    .what-can-do {

        &__content {
            margin: 2rem auto 0;
        }
        
        &__title {
            font-size: 2.4rem;
            padding: 0 2rem 0;
            margin: 0 0 1.8rem;
        }
        
        &__text {
            font-size: 1.6rem;
            max-width: unset;
            padding: 0 2rem 0;
            margin: 0px auto 2rem;
        }

        &__link {
            font-size: 1.2rem;
            padding: 1.5rem 2.2rem 1.5rem 2.2rem;
            max-width: 14.8rem;
            margin: 0 auto 2rem;
        }
        
    }
    .feature {
        width: 100%;
        text-align: center;
        margin: 0 auto 2rem;
        padding: 0 2rem;

        &__title {
            font-size: 2rem;
            margin: 2rem 0 1rem;
        }

        &__description {
            margin: 0 auto;
        }
    }
}

