section.become
    .container
        .become__content
            img(src="./assets/imgs/become-img.svg", alt="").become__img
            h2.become__title Become a Superpeer
            button.become__btn Create Account
