section.feedback
    .feedback__wrapper 
        .container         
            .feedback__content 
                h2.feedback__title Don’t just take our word for it
                p.feedback__text “I've been using Superpeer with about 10-12 calls per week, and so far the experience has been flawless.”
                img(src="./assets/imgs/avatar.png", alt="user avatar").feedback__img
                p.feedback__author Janine Sickmeyer
                p.feedback__author-position Tech entrepreneur & Angel investor
