section.first-section 
    .container 
        .first-section__content 
            h1.first-section__title Host cohort-based courses, live events, or 1:1 sessions
            p.first-section__text Superpeer is an all-in-one video platform that gives you the tools you need to engage with your audience through video, and connect in a more authentic way.
            a(href="#").first-section__link 
                img(src="./assets/imgs/link-logo.svg", alt="logo").link-logo
                span Become a Superpeer
        img(src="./assets/imgs/video.jpg", alt="video").first-section__img

.message-block
    img(src="src="./assets/imgs/message.svg", alt="message").message-block__img;


