footer.footer
    .container 
        .footer__row 
            .footer__links 
                a(href="#").link-footer Blog
                a(href="#").link-footer FAQ
                a(href="#").link-footer Privacy
                a(href="#").link-footer Terms
            .footer__socials.socials
                a(href="#") 
                    img(src="./assets/imgs/twitter.svg", alt="Twitter").socials__icon
                a(href="#") 
                    img(src="./assets/imgs/instagram.svg", alt="Instragram")
            p.footer__text  Superpeer, Inc. 