header.header 
    div.container
        .header__row 
            a(href="#").logo
                img(src="../assets/imgs/logo.svg", alt="logo").logo__img
            .header-links 
                a(href="#").link-header Home
                a(href="#").link-header.link-header--color Features
                a(href="#").link-header.link-header--color About Us
            .header-registration 
                a(href="#").link-header Sign In
                a(href="#").link-header.link-header--bg 
                    img(src="../assets/imgs/header-link-logo.svg", alt="logo")
                    span Become a Superpeer



    