section.series 
    .container 
        .series__content 
            h2.series__title Featured Superpeer Series
            .series__img-wrap
                img(src="./assets/imgs/photographer.jpg", alt="photographer").series__img
            .qa-block
                .qa-block__img-wrap 
                    img(src="./assets/imgs/aks.png", alt="aks logo").qa-block__img1
                    img(src="./assets/imgs/play.svg", alt="play icon").qa-block__img2
                .qa-block__content
                    h2.qa-block__title Q&A with a Professional Photographer
                    p.qa-block__text Being a photographer isn't just a job. Let's delve into real examples of how photography has changed lives and shaped the world. Whether you've been creating photos for years or weeks, we all have some similar feelings when we get behind a lens.
                    .details 
                        p.details__title taught by
                        p.details__text Adam Katz Sinding
                        p.details__title starts
                        p.details__text October 2021
                    button.qa-block__btn Notify Me