// переменные 
//GRID
//точки адаптива
$xlg: 1920px;
$lg: 1440px;
$md: 1023px;
$sm: 767px;
$xs: 575px;

// Dekstop-first

//Цвета макета
$c-primary: #e92e27;//основной цвет макета
$c-secondary: #FFD338;
;//дополнительный цвет макета
$c-text: #222222;
;//основной цвет текста макета
$c-text2: #555555;
;//дополнительный цвет текста макета


// Рандомные переменные проекта


// Размер шрифта
$font-size-base: 10px;


// Шрифты
$body-font: 'Roboto', sans-serif;//основной
$headers-font: 'Roboto', sans-serif;//для заголовков
$secondary-font: 'Roboto', sans-serif;//дополнительный
